.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background: #050505;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 26px;
  align-items: center;
}

.nav-links a,
.nav-links span {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
  font-size: 14px;
}

.nav-links a:hover,
.nav-links span:hover {
  color: #ffd700;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  left: 0;
  background: #111;
  padding: 10px;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  min-width: 140px;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu a {
  padding: 6px 10px;
  color: #ccc;
}

.dropdown-menu a:hover {
  background: #222;
  color: #ffd700;
}

.wallet-box {
  background: #222;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}
